@model Transporte.PedidoEdoDTO

<h4>PedidoEdoDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ConsultaDetallePedido">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EstadoPedido" class="control-label"></label>
                <input asp-for="EstadoPedido" class="form-control" />
                <span asp-validation-for="EstadoPedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoRepublica" class="control-label"></label>
                <input asp-for="EstadoRepublica" class="form-control" />
                <span asp-validation-for="EstadoRepublica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Region" class="control-label"></label>
                <input asp-for="Region" class="form-control" />
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatEstadoPedidoId" class="control-label"></label>
                <input asp-for="CatEstadoPedidoId" class="form-control" />
                <span asp-validation-for="CatEstadoPedidoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sigla" class="control-label"></label>
                <input asp-for="Sigla" class="form-control" />
                <span asp-validation-for="Sigla" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatEstadoRepublicaId" class="control-label"></label>
                <input asp-for="CatEstadoRepublicaId" class="form-control" />
                <span asp-validation-for="CatEstadoRepublicaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PedidoId" class="control-label"></label>
                <input asp-for="PedidoId" class="form-control" />
                <span asp-validation-for="PedidoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
